$mq-support: true;
$mq-fixed-value: false;
@import "base/custom";
@import "base/var";
@import "base/mixins";
@import "vendors/include-media";
@import "vendors/normalize";
@import "base/reset";
@import "base/helpers";
@import "base/fonts";
@import "layout/header";
@import "layout/footer";

@import url('https://fonts.googleapis.com/css?family=Damion|Lato:300,400,700,900');

$mobile: 375px;
$tablet: 767px;
$laptop: 1024px;

:root {
    --main-color: red; 
}

body{
    background: #fff;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.logo{
    // font-style: normal;
    // font-variant:;
    // font-weight: normal;
    font-size: 30px;
    line-height: 0;
    font-family: Damion, Arial, Helvetica, sans-serif;
    text-transform: lowercase;
}

h1, h2, h3 {
    margin: 0;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;  
}

h1{
    font-size: 3.75rem;
    padding-bottom: 10px;    
}

h2{
    font-size: 1.875rem;
    padding-bottom: 10px;
}

h3{
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-bottom: 5px;
    span{
        color: #ec9da2;
    }
}

p{
    margin: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 0.875rem;    
}

.page{
    position: relative;
    overflow: hidden;
}

.container {
        margin: auto;
        max-width: 1100px;
        color: #fff;
        // color: var(--main-color);
        padding: 60px 15px;

        @media screen and (max-width: $tablet){ 
            padding: 40px 10px;              
         }

         @media screen and (max-width: $mobile){ 
            padding: 20px 5px;              
         }
}

.header{
    position: fixed;
    width: 100vw;

    &-container{        
        margin: 0 auto;
        max-width: 1100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 30px 15px 0;      
    }
}

.nav{ 
    font-size: 18px;

    ul { 
        
        li {
            width: 100px;
            text-align: center;

            a {
                display: block;

                &:hover{
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 0 0 5px 5px; 
                    padding-top: 30px;
                    margin-top: -30px;
                }
            }                        
        }
    }

    @media screen and (max-width: $tablet){
        display: none;
    }

    &-btn{
        display: none;
        position: relative;
        left: auto;
        right: auto;
        width: 24px;
        // height: 17px;
        z-index: 2;
        list-style: none; 
        margin: 10px;
        @media screen and (max-width: $tablet){ 
            display: block;              
        }
    
        & span, 
        &:before,
        &:after {
            position: absolute;
            left: 0;
            right: 0;
            content: "";
            height: 3px;
            background: #fff;
            top: 50%;
            margin-top: -1px;
        }

        &:after { margin-top: 5px; }
        
        &:before {margin-top: -7px; }        
    }         
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.block {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
    &-home{
        background-image: url(../imges/bgHome.jpg);

        @media screen and (max-width: $tablet){
            background-image: none;
            background-color: #2d3f51;
        }
    }

    &-services{
        background-image: url(../imges/bgServices.jpg);

        @media screen and (max-width: $tablet){
            background-image: none;
            background-color: #b24a50;
        }

        &-main {
            background-color: #c45158;
            width: 23%;
            padding: 40px 25px;
            margin: 0 0 10px ; 
            
            @media screen and (max-width: $tablet){
                width: 48.5%; 
            }

            @media screen and (max-width: $mobile){
                width: 100%; 
            }

            h2 {
                margin: 0 auto 10px;
             }    
        }
        &-img{
            width: 140px;
            height: 140px;
            border-radius: 50%;
            // background-color: #fff;
            background-image: url(../imges/lamp.jpg);
            margin: 0 auto 10px;
        }     
    }

    &-about{
        background-image: url(../imges/bgAbout.jpg);
        
        @media screen and (max-width: $tablet){
            background-image: none; 
            background-color: #665464;
        }
        &-main {
            background-color: #5b4b59;
            width: 260px;
            height: 400px;
            padding: 40px 25px;    
        }   
    }
    &-work{
        background-image: url(../imges/bgWork.jpg);

        @media screen and (max-width: $tablet){
            background-image: none;
            background-color: #83a457;
        }

        &-middle{
            height: 100px;
            padding: 50px 0 0 45px 0;
            border-top: 1px solid #94b963;
            border-bottom: 1px solid #94b963;
        }

        &-main{
            width: 260px;
            height: 250px; 
            background-color: #eeeeee;
            color: #939393;
            border-radius: 4px;
            margin: 0 0 20px 0;

            img {
                border-radius: 4px 4px 0 0;   
            }
        }
    }

    &-contacts {
        background-image: url(../imges/bgContacts.jpg);

        @media screen and (max-width: $tablet){
            background-image: none;
            background-color: #75b4aa;
        }
    }

    &-middle {
        height: 120px;
    }

    &-main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }         
}

.footer{
    margin-top: -100px;
    padding: 20px 0;
    background-color: #68a097;

    @media screen and (max-width: $tablet){
        padding: 10px 0;
        margin-top: -60px;
    }

    &-container{
        display: flex;
        justify-content: center;
    }

    ul{
        display: flex;
        // justify-content: space-between;

        li{
            border: 30px solid #82c7bc;
            border-radius: 50%;
            margin: 0 10px;

            @media screen and (max-width: $tablet){
                border: 20px solid #82c7bc;
                border-radius: 50%;
            }
        }
    }
}

