$mq-support: true;
$mq-fixed-value: false;
@import "base/custom";
@import "base/var";
@import "base/mixins";
@import "vendors/include-media";
@import "vendors/normalize";
@import "base/reset";
@import "base/helpers";
@import "base/fonts";
@import "layout/header";
@import "layout/footer";

body{
    background: #fff;
    margin: 0;
}

h1, h2, p {
    margin: 0;
    text-align: center;
}

.block {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
    &-home{
        background-image: url(../imges/bgHome.jpg);
        background-size: cover;
    }

    &-services{
        background-image: url(../imges/bgServices.jpg);
        background-size: cover;
        &-color {
            background-color: #c45158;    
        }
        &-middle{
            height: 120px;
        }
    }

    &-about{
        background-image: url(../imges/bgAbout.jpg);
        background-size: cover;
        
        &-color {
            background-color: #5b4b59;    
        }
        &-middle{
            height: 180px;    
        }
    }

    &-work{
        background-image: url(../imges/bgWork.jpg);
        background-size: cover;

        &-middle{
            height: 100px;
            padding: 50px 0 0 45px 0;
            border-top: 1px solid #94b963;
            border-bottom: 1px solid #94b963;
        }
    }

    &-contacts{
        background-image: url(../imges/bgContacts.jpg);
        background-size: cover;
    }

    &-container {
        margin: auto;
        width: 1100px;
        color: #fff;
        padding: 100px 0 100px 0;
    }

    &-main {

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &-mini {
            width: 260px;
            height: 400px;
            padding: 40px 25px;  
        }

        &-work{
            width: 260px;
            height: 250px; 
            background-color: #eeeeee;
            color: #939393;
        }

        &-header {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background-color: #fff;
            margin: 0 auto 10px;
            
            h2 {
                margin: 0 auto 10px;
            }
        }
    }  
}

.page{
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.nav{   
    
    ul {
        

        li {
            width: 100px;
            border: 1px solid #000;
            text-align: center;
        }
    }

}

.header{
    position: fixed;
    padding-top: 42px;
    width: 100%;

    &-container{
        margin: auto;
        width: 1110px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
}

.footer{
    margin-top: -150px;
    height: 150px;
    background-color: #68a097;

    &-container{
        display: flex;
        justify-content: center;
    }

    ul{
        width: 360px;
        height: 60px;
        border:1px solid #000;
        display: flex;
        justify-content: space-between;

        li{
            border: 30px solid #82c7bc;
            border-radius: 50%;
        }
    }
}

