$mq-support: true;
$mq-fixed-value: false;
@import "base/custom";
@import "base/var";
@import "base/mixins";
@import "vendors/include-media";
@import "vendors/normalize";
@import "base/reset";
@import "base/helpers";
@import "base/fonts";
@import "layout/header";
@import "layout/footer";

@import url('https://fonts.googleapis.com/css?family=Damion|Lato:300,400,700,900');

$mobile: 375px;
$tablet: 767px;
$laptop: 1024px;

*{
    @media screen and (max-width: $tablet){ 
        font-size: 0.875rem;              
    }

    @media screen and (max-width: $mobile){ 
        font-size: 0.75rem;             
    }
}

body{
    background: #fff;
    margin: 0;
    font-weight: normal;
    // font-size: 1rem;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

.logo{
    line-height: 1;
    font-family: Damion, Arial, Helvetica, sans-serif;
    text-transform: lowercase;

    a {
        font-size: 3.125rem;

        @media screen and (max-width: $tablet){ 
            font-size: 2.25rem;
        }

        @media screen and (max-width: $mobile){ 
            font-size: 1.5rem;
        }
    }
}

h1, h2, h3, h4 {
    margin: 0;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase; 
    padding-bottom: 10px; 
}

h1{
    font-size: 3.75rem;       
}

h2{
    font-size: 1.875rem;
}

h3{
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-bottom: 5px;
    span{
        color: #ec9da2;
    }
}

p{
    margin: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 0.875rem;    
}

.page{
    position: relative;
    overflow: hidden;
}

.container {
        margin: auto;
        max-width: 1100px;
        color: #fff;
        // color: var(--main-color);
        padding: 60px 15px;

        @media screen and (max-width: $tablet){ 
            padding: 40px 10px;              
         }

         @media screen and (max-width: $mobile){ 
            padding: 20px 5px;              
         }
}

.header{
    position: fixed;
    width: 100vw;
    z-index: 10;

    &-container{        
        margin: 0 auto;
        max-width: 1100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 15px 0;      
    }
}

.nav{ 
    font-size: 18px;

    ul { 
        
        li {
            width: 100px;
            text-align: center;

            a {
                display: block;

                &:hover{
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 0 0 5px 5px; 
                    padding-top: 30px;
                    margin-top: -30px;                   
                }
            }                        
        }
    }

    @media screen and (max-width: $tablet){
        display: none;
    }

    &-btn{
        display: none;
        position: relative;
        left: auto;
        right: auto;
        width: 24px;
        // height: 17px;
        z-index: 2;
        list-style: none; 
        margin: 10px;

        @media screen and (max-width: $tablet){ 
            display: block;              
        }
    
        & span, 
        &:before,
        &:after {
            position: absolute;
            left: 0;
            right: 0;
            content: "";
            height: 3px;
            background: #fff;
            top: 50%;
            margin-top: -1px;
        }

        &:after { margin-top: 5px; }
        
        &:before {margin-top: -7px; }        
    }         
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}   

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #75b4aa;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #75b4aa;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #75b4aa;
}
:-moz-placeholder { /* Firefox 18- */
    color: #75b4aa;
}

form input,
form span,
form label,
form textarea,
form select {
	cursor: pointer;
}

// style for slider. Start
.sl{

    &__box{
        position: relative;
        height: 100%;
    }
    
    &__text{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.3);
        color: #74c7d5;     
        display: flex;
        padding: 20px 40px;
        line-height: 1;
        border-radius: 3px;
        @media screen and (max-width: $tablet){ 
            padding: 10px 20px; 
        }

        @media screen and (max-width: $mobile){ 
            padding: 5px 10px;
        }

    }

    &__caption{
        margin: auto;
        line-height: 0.8;
        font-size: 3.75rem;
        font-weight: lighter;
        text-transform: none; 
        white-space: nowrap;
        text-align: right;

        @media screen and (max-width: $tablet){ 
            font-size: 1.75rem;              
        }

        @media screen and (max-width: $mobile){ 
            font-size: 1rem;              
        }
    }

    &__par{
        margin: 0;
        padding: 0 0 0 20px;
        font-size: 7.5rem;
        font-weight: 900;
        text-transform: uppercase; 
        @media screen and (max-width: $tablet){ 
           font-size: 3.75rem;              
        }

        @media screen and (max-width: $mobile){ 
           font-size: 2rem;              
        }
    }
}

.slick-dots li button{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.slick-dots li button:before{
    content: '';
}

.slick-dots li button:hover,
.slick-dots li.slick-active button{
    background: #74c7d5;
    border-radius: 50%;
}

.slick-dots li button:hover:before,
.slick-dots li.slick-active button:before{
    background: #74c7d5;
    border-radius: 50%;
}

.slick-dots {
    position: absolute;
    bottom: 50px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    margin: 0 20px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-prev, .slick-next {
    z-index: 1001;
}

.slick-prev {
    left: 1.5rem;

    @media screen and (max-width: $tablet){ 
        left: 1.25rem;              
    }

    @media screen and (max-width: $mobile){ 
        left: 1rem;             
    }
    
    
}
.slick-next {
    right: 1.5rem;
    transform: translate(-100%, 0);

    @media screen and (max-width: $tablet){ 
        right: 1.25rem;
    }

    @media screen and (max-width: $mobile){ 
        right: 1rem;
    }
}

.slick-prev:before,
.slick-next:before{
    font-size: 3rem;

    @media screen and (max-width: $tablet){ 
        font-size: 1.5rem;              
    }

    @media screen and (max-width: $mobile){ 
        font-size: 1rem;             
    }
}

.slick-prev:before{
    content: "<"
}

.slick-next:before{
    content: ">"
} 
// style for slider. End

// #Home:not(:target),
#Services:not(:target),
#About:not(:target),
#Work:not(:target),
#Contacts:not(:target){
    display: none;
}

// #Home:target,
#Services:target,
#About:target,
#Work:target,
#Contacts:target{
    display: block;
}

.footer{
    display: none; 
}

// .block:not(:target),
// .footer
// {
//     display: none;
// }

// .block:target
// {
//     display: block;
// }

.block{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
    &-header{
        padding-bottom: 20px;
    }

    &-home{
        background-color: #2d3f51;
        min-height: 0;
        @media screen and (max-width: $tablet){
            background-image: none;
        }
    }
    // .block
    &-services{
        background-image: url(../images/bgServices.jpg);

        @media screen and (max-width: $tablet){
            background-image: none;
            background-color: #b24a50;
        }

        &-middle{
            height: 100px;
        }

        &-img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: #fff;
            margin: 0 auto 10px;
            position: relative;

            &:before {
                content: '';
                width: 140px;
                height: 140px;
                border: 5px solid #fff;
                position: absolute;
                border-radius: 50%;
                z-index: 2; 
                transform: translate(-10px, -10px);
            }
            
            img {
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                position: absolute;
            }
        }   
    
        &-main {
            background-color: #c45158;

            h2 {
                margin: 0 auto 10px;
             }    
        }            
    }
    // .block
    &-about{
        background-image: url(../images/bgAbout.jpg);
        text-align: center;

        @media screen and (max-width: $tablet){
            background-image: none; 
            background-color: #665464;
        }
        &-main {
            background-color: #5b4b59;
            width: 260px;
            height: 400px;
            padding: 40px 25px; 
            position: relative;

            &:hover{
                cursor: pointer;

                .block-about-img-ink_hover{
                    opacity: 1;   
                }
                .block-about-name{
                    color: #fff;
                }
                .block-about-position{
                    color: #ff8973;
                }
                
                .block-about-facebook{
                    border-color: #4f689e;
                    background-color: #4f689e;
                } 
                .block-about-twitter{
                    border-color: #74c7d5;
                    background-color: #74c7d5;
                } 
                .block-about-google-plu{
                    border-color: #df5c64;
                    background-color: #df5c64;
                } 
                .block-about-linkedin2{
                    border-color: #3e61af;
                    background-color: #3e61af;
                } 
            
            }
        } 
        
        &-middle{
            flex-direction: column;
        }

        &-text{
            background-color: #a1ca6c;
            border-radius: 5px;
            margin: auto auto 0;
            padding: 15px 40px;

            @media screen and (max-width: $tablet){
                padding: 10px 30px; 
            }

            @media screen and (max-width: $mobile){
                padding: 5px 20px; 
            }
        }
        &-triangle{
            margin: 0 auto;
            border: 20px solid transparent;
            border-top: 20px solid #a1ca6c;

            @media screen and (max-width: $tablet){
                border: 10px solid transparent;
                border-top: 10px solid #a1ca6c;; 
            }

            @media screen and (max-width: $mobile){
                border: 5px solid transparent;
                border-top: 5px solid #a1ca6c; 
            }
        }
        &-img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #fff;
            margin: 0 auto 10px;
            padding: 0 0 20px;
            position: relative;
            background: url(./images/incognita.png) no-repeat;

            &-ink_hover{
                opacity: 0;
            }
            &:before {
                content: '';
                width: 155px;
                height: 155px;
                border: 5px solid #a1859e;
                position: absolute;
                border-radius: 50%;
                z-index: 2; 
                transform: translate(-2.5px, -2.5px);
                top:0;
                left:0;
            } 

            &:after {
                content: '';
                width: 145px;
                height: 145px;
                border: 2px solid #fff;
                position: absolute;
                border-radius: 50%;
                z-index: 2; 
                transform: translate(2.5px, 2.5px);
                top:0;
                left:0;
                background: url(./images/incognita.png) no-repeat;

            } 

            img {
                border-radius: 50%;
                top: 0; 
                left: 0;
                position: absolute;
            }
        } 
        
        &-name{
            font-size: 1.5rem;
            color: #c7b6c5;
            padding: 0 0 14px; 
            font-weight: bold;
            text-transform: uppercase;
               
        }
        &-position{
            font-size: 0.875rem;
            color: #a1ca6c;
            padding: 0 0 40px;    
        }
        &-social{
            position:absolute;
            bottom: 40px;
            left: 0;
            right: 0;
            ul{
                display: flex;
                justify-content: center;
                
                li{
                    border: 12px solid #a1859e;
                    border-radius: 50%;
                    margin: 0 2px;
                    background-color: #a1859e;    
                }
            }
        }

        &-facebook,
        &-twitter,
        &-google-plu,
        &-linkedin2{
            font-size: 0.875rem;
            
        } 
    }
    // .block
    &-work{
        background-image: url(../images/bgWork.jpg);

        @media screen and (max-width: $tablet){
            background-image: none;
            background-color: #83a457;
        }

        &-portfolio{
            width: 100%;
            border-top: 1px solid #94b963;
            border-bottom: 1px solid #94b963;
            font-weight: bold;
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            padding: 20px 20px 20px 10px;

            &-logo{
                font-size: 1.25rem;
            }

            &-nav{
                // width: 110px;

                ul{
                    li{
                        width: 130px;
                        padding: 0 10px;
                        a:hover{
                            background-color: #f5c149;
                            border-radius: 5px;
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }
        }
      
        &-main{
            width: 23%;
            background-color: #eeeeee;
            color: #939393;
            border-radius: 4px;
            margin: 0 0 20px 0;
            font-size: 0.875rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            cursor: pointer;

            @media screen and (max-width: $tablet){
                width: 48.5%; 
            }
    
            @media screen and (max-width: $mobile){
                width: 100%; 
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 4px 4px 0 0; 
            }

            p {
                padding-bottom: 5px;
                text-transform: uppercase;
                padding-top: 10px;
            } 
            
            &-img{
                width:100%;
                height: 100%;
                line-height: 0;
                background-color: #3d4d29;
                border-radius: 4px 4px 0 0;
                position: relative;

                & span {
                    width: 50px;
                    height: 50px;
                    border: 2px solid #eeeeee;
                    position: absolute;
                    border-radius: 50%;  
                    top: 50%;  
                    right: 50%;
                    transform: translate(50%, -50%); 
                    display: none; 
                    
                    &:after,
                    &:before {
                        position: absolute;
                        left: 10px;
                        right: 10px;
                        content: '';
                        height: 2px;
                        background: #eeeeee;
                        top: 50%;
                        margin-top: -1px;
                    }

                    &:before {
                        transform: rotate(90deg); 
                    }
                }
            }

            &-img:hover{
                img {
                    opacity: 0.7;
                } 
                span {
                    display: block;
                    z-index:  1;
                }
            }
        }

        &-trian { 
            text-align: center;
            position: relative;   
        }

        &-triangle {
            border: 10px solid transparent;
            border-bottom: 10px solid #eeeeee;
            position: absolute;
            top: -20px;

            @media screen and (max-width: $tablet){
                border: 10px solid transparent;
                border-bottom: 10px solid #eeeeee; 
            }

            @media screen and (max-width: $mobile){
                border: 10px solid transparent;
                border-bottom: 10px solid #eeeeee; 
            }
        }
        
    }
    // .block
    &-contacts {
        background-image: url(../images/bgContacts.jpg);
        padding: 80px;

        @media screen and (max-width: $tablet){
            background-image: none;
            background-color: #75b4aa;
            padding: 20px 5px;
        
        }

        h2 {
            display: block;
            text-transform: none;
            text-align: left;
        }

        h3 {
            color: #c0dfda;
            text-transform: none;
            text-align: left;
            padding-bottom: 19px;

        }     

        p {
            text-align: justify;
            font-size: 1rem;   
        }

        a {
            font-size: 1rem;
            margin-left: 20px;
        }

        &-address{
            width: 48%;
            text-align: center; 
            padding-bottom: 5px;
            
            @media screen and (max-width: $tablet){
                width: 100%; 
            }   
        

            &-phm{
                width: 49%;
                height: 83%;
                display: inline-block;
                vertical-align: bottom;

                @media screen and (max-width: $mobile){
                    width: 100%; 
                    height: 42%;
                    padding-top: 5px;
                }

                iframe {
                    width: 100%;
                    height: 100%;
                    border-style: none;
                    // display: inline-block;
                    vertical-align: bottom;
                    
                }
            }

            table {
                margin-top:25%;

                @media screen and (max-width: $mobile){
                   margin-top: 0;
                }

            }
     
            td {
                color: #c0dfda;
            }
        }

        &-question{
            width: 48%;
            min-height: 100px;
            padding-bottom: 5px;

            @media screen and (max-width: $tablet){
                width: 100%; 
            }
        }

        &-form{

            position: relative;

            &-bname{
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 0 30px 0;

                @media screen and (max-width: $mobile){
                   flex-wrap: wrap;
                   padding: 0 0 10px 0;
                }
      
                
                &-label{
                    width: 49%;
                    height: 60px;
                    background-color: #68a097;
                    border: 0;
                    border-radius: 3px; 
                    // display: block;
                    color: #82c8bd;
                    font-size: 1rem;
                    line-height: 60px;
                    padding: 0 15px 0;

                    @media screen and (max-width: $tablet){
                        width: 48.5%; 
                    }
            
                    @media screen and (max-width: $mobile){
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        margin-bottom: 10px;


                    }
            
                }

                &-input{
                    width: 49%;
                    height: 60px;
                    border: 0;
                    border-radius: 3px; 
                    
                    @media screen and (max-width: $tablet){
                        width: 48.5%; 
                    }
            
                    @media screen and (max-width: $mobile){
                        width: 100%; 
                        height: 40px;
                    }
            
                }
            }

            &-textarea{
                width: 100%;
                background-color: #68a097;
                border: 0;
                border-radius: 3px;
                margin: 0 auto;
                display: block;
                height: 168px;
                resize: none;
                line-height: 60px;
                padding: 0 15px 0;


            }

            &-submit{
                width: 49%;
                height: 45px;
                border: 0;
                border-radius: 3px;
                text-transform: uppercase;
                background: #df5c64;
                font: 700 2rem Lato, sans-serif;
                border-bottom: 4px solid #c8535a;
                position: absolute;
                transform: translate(50%, 50%);

                @media screen and (max-width: $tablet){
                    font-size: 1.75rem;
                }
        
                @media screen and (max-width: $mobile){
                    font-size: 1.5rem;
                }

            }
        }
    }
    // .block
    &-middle {
        font-weight: bold;
        font-size: 1.5rem;
        display: flex;
        padding-bottom: 20px;
    }
    // .block
    &-main-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    } 
    // .block
    &-main{
        width: 23%;
        padding: 40px 25px;
        margin: 0 0 10px ; 
        
        @media screen and (max-width: $tablet){
            width: 48.5%; 
        }

        @media screen and (max-width: $mobile){
            width: 100%; 
        }
    }
}

.footer{
    padding: 20px 0;
    background-color: #68a097;

    @media screen and (max-width: $tablet){
        padding: 10px 0;
        margin-top: -30px;
    }

    &-container{
        display: flex;
        justify-content: center;
    }

    ul{
        display: flex;
        color: #fff;

        li{
            border: 20px solid #82c7bc;
            border-radius: 50%;
            margin: 0 10px;
            background-color: #82c7bc;

            @media screen and (max-width: $tablet){
                border: 20px solid #82c7bc;
            }  
        }
    }

    &-icon{
        font-size: 2rem;
    }
}


